
/* Core Styles */
body {
    margin: 0px;
    overflow-y: auto;

    color: white;

    font-family: Avenir, sans-serif;
    font-size: 1.1em;
    line-height: 1.5;

    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 10fr 1fr;
    grid-template-areas:
        "header"
        "key-list"
        "footer";
    height: 100vh;
}

.header {
    display: flex;
    background: #115C58;
    grid-area: header;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.header h1 {
    margin: 15px 0 0 30px;
}

.header p {
    margin: 0 0 15px 30px;
}

.key-list {
    background: #167570;
    grid-area: key-list;
    overflow-y: auto;
}

.key-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-item {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.list-item:hover {
    background: #25C2BA;
    cursor: pointer;
}

.key-name {
    margin-top: .75em;
    margin-bottom: .75em;
}

.key-value {
    margin-top: 0;
    margin-bottom: .5em
}

.footer {
    display: flex;
    background: #19827D;
    grid-area: footer;
    justify-content: flex-start;
    align-items: center;
}

.footer p {
    font-style: italic;
    margin-left: 1.5em;
}

/* warn against lack of browser support */

.nope {
    display: block;
    color: white;
    background: orange;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

@supports (display: grid) {
    .nope {
        display: none;
    }
}
